################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TFT.Search.WebApp/FileContentIndex
/.vs/TFT.Search.WebApp/v17
/bin
/node_modules
/obj/Debug
